html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff url(../img/geometry2.png); /* Background pattern from Subtle Patterns */
    font-family: "Coda", cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font: 300 2.2em "Gill Sans", sans-serif;
}

/*
 * Styles for the deck of cards
 */

.deck {
    max-width: 660px;
    width: 90%;
    height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 3.7%;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    -webkit-transition: background 0.5s ease-in-out, font-size 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, font-size 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.rotate-y-minus-180 {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.deck .card.open {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.no-match {
    background: red;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    max-width: 90%;
    margin-bottom: 10px;
    padding: 0 5px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * The Modal
 */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
    justify-content: center;
    align-items: center;
}

/* Modal Header */
.modal-header {
    padding: 100px 16px 10px 16px;
    background-color: #fff;
}

/* Modal Body */
.modal-body {
    padding: 10px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 10px 16px 125px 16px;
    background-color: #fff;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    text-align: center;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation: 0.4s animatetop;
    animation: 0.4s animatetop;
}

/* Animation to Modal*/
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: #fff;
    font: 15px sans-serif;
    padding: 10px 20px;
    background-color: #10cda8;
    border-radius: 10px;
    text-decoration: none;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/*
 * Breakpoints
 */

@media screen and (max-width: 414px) {
  .deck {
    height: 450px;
  }

  .deck .card {
    height: 60px;
    width: 60px;
  }

  h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .score-panel {
    margin-bottom: 8px;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 653px) and (min-width: 415px) {
  .deck .card {
    height: 90px;
    width: 90px;
  }
}

@media screen and (min-width: 931px) {
  .deck {
    padding: 32px;
  }
}
