html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font: 300 2.2em "Gill Sans", sans-serif;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    /* transition-property: background-color transform; */
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.rotate-y-minus-180 {
    transform: rotateY(-180deg);
}

.deck .card.open {
    transform: rotateY(3.142rad);
    background: #02b3e4;
    cursor: default;
    /* transition-property: background-color transform; */
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.no-match {
    background: red;
    transform: rotateY(3.142rad) translate(30px, 20px) rotate(20deg);
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * The Modal
 */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
    justify-content: center;
    align-items: center;
}

/* Modal Header */
.modal-header {
    padding: 100px 16px 10px 16px;
    background-color: #fff;
}

/* Modal Body */
.modal-body {
    padding: 10px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 10px 16px 125px 16px;
    background-color: #fff;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    text-align: center;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation: 0.4s animatetop;
}

/* Animation to Modal*/
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: #fff;
    font: 15px sans-serif;
    padding: 10px 20px;
    background-color: #10cda8;
    border-radius: 10px;
    text-decoration: none;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
